02-automation/hotel-booking-tally-supabase/workflow-a.json
{
  "id": "AzFAbnUvv6Hj9xzg",
  "name": "Hotel booking A — request processing",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hotel-booking",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Tally Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "hotel-booking"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json?.body ?? $input.first().json ?? {};\nconst required = ['client_name','email','hotel_name','room_type','date_from','date_to'];\nconst missing = required.filter(k => !item[k] || String(item[k]).trim() === '');\nconst email = (item.email ?? '').toString().trim().toLowerCase();\nconst hotel_name = (item.hotel_name ?? '').toString().trim();\nconst room_type = (item.room_type ?? '').toString().trim();\nconst date_from = (item.date_from ?? '').toString().slice(0,10);\nconst date_to = (item.date_to ?? '').toString().slice(0,10);\nconst request_id = `${email}|${hotel_name.toLowerCase()}|${room_type.toLowerCase()}|${date_from}|${date_to}`;\nconst isValid = missing.length === 0 && date_from < date_to && email.includes('@');\nreturn [{ json: { ...item, email, hotel_name, room_type, date_from, date_to, request_id, isValid, missing } }];"
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Normalize+Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c_valid",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "IF — input valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [760, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "authentication": "oAuth2",
        "sendTo": "dir@kalugin-consulting.ru",
        "subject": "Invalid booking request (missing: {{$json.missing.join(',')}})",
        "emailType": "text",
        "message": "Payload:\n{{ JSON.stringify($json, null, 2) }}",
        "options": { "appendAttribution": false }
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Email manager (invalid input)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1040, 120]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "getAll",
        "tableId": "bookings",
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            { "keyName": "request_id", "condition": "eq", "keyValue": "={{ $json.request_id }}" }
          ]
        }
      },
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "Lookup booking by request_id",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1040, 300],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c_dup",
              "leftValue": "={{ $items('Lookup booking by request_id').length > 0 }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "66666666-6666-6666-6666-666666666666",
      "name": "IF — duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1280, 300]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "getAll",
        "tableId": "rooms",
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            { "keyName": "hotel_name", "condition": "eq", "keyValue": "={{ $json.hotel_name }}" },
            { "keyName": "room_type", "condition": "eq", "keyValue": "={{ $json.room_type }}" },
            { "keyName": "status", "condition": "eq", "keyValue": "free" },
            { "keyName": "date_from", "condition": "lte", "keyValue": "={{ $json.date_from }}" },
            { "keyName": "date_to", "condition": "gte", "keyValue": "={{ $json.date_to }}" }
          ]
        }
      },
      "id": "77777777-7777-7777-7777-777777777777",
      "name": "Find free room",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1520, 420],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c_room",
              "leftValue": "={{ $items('Find free room').length > 0 }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "88888888-8888-8888-8888-888888888888",
      "name": "IF — room found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1760, 420]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "authentication": "oAuth2",
        "sendTo": "={{ $json.email }}",
        "subject": "Нет свободных номеров: {{ $json.hotel_name }} ({{ $json.date_from }}–{{ $json.date_to }})",
        "emailType": "text",
        "message": "Здравствуйте, {{ $json.client_name }}!\n\nК сожалению, свободных номеров по выбранным параметрам нет:\n- Отель: {{ $json.hotel_name }}\n- Тип номера: {{ $json.room_type }}\n- Даты: {{ $json.date_from }} – {{ $json.date_to }}\n\nМенеджер предложит альтернативы. Ответьте на письмо и укажите предпочтения.\n",
        "options": { "appendAttribution": false }
      },
      "id": "99999999-9999-9999-9999-999999999999",
      "name": "Email client (no room)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [2000, 280]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "update",
        "tableId": "rooms",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            { "keyName": "id", "condition": "eq", "keyValue": "={{ $items('Find free room')[0].json.id }}" },
            { "keyName": "status", "condition": "eq", "keyValue": "free" }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsUi": { "fieldValues": [{ "fieldId": "status", "fieldValue": "reserved" }] }
      },
      "id": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
      "name": "Reserve room (conditional)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2000, 520],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c_res",
              "leftValue": "={{ $items('Reserve room (conditional)').length > 0 }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb",
      "name": "IF — reserved ok?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [2240, 520]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "bookings",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "request_id", "fieldValue": "={{ $json.request_id }}" },
            { "fieldId": "room_id", "fieldValue": "={{ $items('Find free room')[0].json.id }}" },
            { "fieldId": "client_name", "fieldValue": "={{ $json.client_name }}" },
            { "fieldId": "email", "fieldValue": "={{ $json.email }}" },
            { "fieldId": "hotel_name", "fieldValue": "={{ $json.hotel_name }}" },
            { "fieldId": "room_type", "fieldValue": "={{ $json.room_type }}" },
            { "fieldId": "date_from", "fieldValue": "={{ $json.date_from }}" },
            { "fieldId": "date_to", "fieldValue": "={{ $json.date_to }}" },
            { "fieldId": "status", "fieldValue": "reserved" },
            { "fieldId": "payment_status", "fieldValue": "pending" }
          ]
        }
      },
      "id": "cccccccc-cccc-cccc-cccc-cccccccccccc",
      "name": "Create booking",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2480, 520]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "authentication": "oAuth2",
        "sendTo": "={{ $json.email }}",
        "subject": "Подтверждение бронирования: {{ $json.hotel_name }} ({{ $json.date_from }}–{{ $json.date_to }})",
        "emailType": "text",
        "message": "Здравствуйте, {{ $json.client_name }}!\n\nМы нашли свободный номер и оформили бронирование.\n\nДетали:\n- Отель: {{ $json.hotel_name }}\n- Тип номера: {{ $json.room_type }}\n- Даты: {{ $json.date_from }} – {{ $json.date_to }}\n- Стоимость: {{ $items('Find free room')[0].json.price }} ₽\n- Статус: reserved\n\nСледующий шаг: подтвердите бронирование ответом на это письмо, менеджер свяжется с вами для оплаты.\n",
        "options": { "appendAttribution": false }
      },
      "id": "dddddddd-dddd-dddd-dddd-dddddddddddd",
      "name": "Email client (confirmation)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [2720, 520]
    }
  ],
  "connections": {
    "Tally Webhook": { "main": [[{ "node": "Normalize+Validate", "type": "main", "index": 0 }]] },
    "Normalize+Validate": { "main": [[{ "node": "IF — input valid?", "type": "main", "index": 0 }]] },
    "IF — input valid?": {
      "main": [
        [{ "node": "Lookup booking by request_id", "type": "main", "index": 0 }],
        [{ "node": "Email manager (invalid input)", "type": "main", "index": 0 }]
      ]
    },
    "Lookup booking by request_id": { "main": [[{ "node": "IF — duplicate?", "type": "main", "index": 0 }]] },
    "IF — duplicate?": { "main": [[], [{ "node": "Find free room", "type": "main", "index": 0 }]] },
    "Find free room": { "main": [[{ "node": "IF — room found?", "type": "main", "index": 0 }]] },
    "IF — room found?": {
      "main": [
        [{ "node": "Reserve room (conditional)", "type": "main", "index": 0 }],
        [{ "node": "Email client (no room)", "type": "main", "index": 0 }]
      ]
    },
    "Reserve room (conditional)": { "main": [[{ "node": "IF — reserved ok?", "type": "main", "index": 0 }]] },
    "IF — reserved ok?": {
      "main": [
        [{ "node": "Create booking", "type": "main", "index": 0 }],
        [{ "node": "Email client (no room)", "type": "main", "index": 0 }]
      ]
    },
    "Create booking": { "main": [[{ "node": "Email client (confirmation)", "type": "main", "index": 0 }]] }
  },
  "settings": {}
}

